
.body{
    display: flex;
    max-width: 1440;
    min-width: 375;
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    
}
.main{
    display: grid;
    grid-template-columns: auto;
    margin: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.first{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    
}
.logo{
    height: 80px;
    width: 80px;
}
.intro{
    max-width: 500px;

}
.intro .h1{
    font-size: 35px;
    margin-bottom: -9px
}
.down{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    justify-content: center;
    margin-top: 20px;
}
.ios, .mac{
    max-width: 230px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    border-radius: 20px;
    display: flex;

}
.mac{
    background-color: #8896FF;
    width: 200px;
}
.ios{
    background-color: #5DCCBB;
    margin-right: 30px;
    width: 200px;
}

.keep{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items:center ;

}
.foot{
    display: flex;
    flex-direction: row-reverse;


}
.imag{
    margin-left: -180px;
    
}
.head .par{
    max-width: 500px;
}
.side {
    text-align: start;
    max-width: 300px;
    padding-top: 30px;
}
.imag .screen{
    width: 550px;
    margin-right: 68px;
}
.foot, .head{
    margin-top: 50px;
}